# Python
*.pyc
*~
__pycache__
myvenv
venv
env
.env
.DS_Store

# IDEs
.idea/
.vscode/
.idx/
.vs/

# Instance Folder
instance/

# DANGER!
local_key.json

# Build artifacts
winedentity_medlem.egg-info/
.venv/

# Logs
app.log