<!doctype html>
<html lang="nb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <style>
      :root {
        --color-primary: #741b79;
        --color-accent: #fbbd19;
        --color-background: #ffffff;
      }
      * {
        box-sizing: border-box;
      }
      body {
        font-family: 'Inter', sans-serif;
        padding: 1rem;
      }
    </style>
  </head>
  <body class="bg-white">
    <div class="mt-4 px-4">
      <div class="max-w-4xl w-full mx-auto bg-white rounded-lg shadow-md overflow-hidden">
        <div class="h-60 bg-cover bg-center" style="background-image: url('{{ url_for('static', filename='header_2.jpg') }}');"></div>
        <main class="px-8 pb-8">
            {% block content %}{% endblock %}
        </main>
      </div>
    </div>
  </body>
</html>
