<!doctype html>
<html lang="nb">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="bg-white">
  <div class="mt-2 px-4">
    <div class="max-w-4xl w-full mx-auto bg-white rounded-lg shadow-md overflow-hidden">
      <div class="h-40 bg-cover bg-center"
        style="background-image: url('{{ url_for('static', filename='header_2_smaller.jpg') }}');"></div>
      <main class="px-6 pb-6">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js" defer></script>
  {% block scripts %}{% endblock %}
</body>

</html>