{% extends "base.jinja2" %}

{% block title %}Winedentity Medlemskap{% endblock %}

{% block content %}
<div class="p-2">
  <header class="text-left mb-2">
    <h1 class="text-3xl font-bold text-[#741b79] mb-1">Medlemskapsregistrering</h1>
    <div class="text-gray-600">
      <p>
        Bli medlem av Foreningen Winedentity ved å fylle ut skjemaet nedenfor.<br>
        Medlemskapet koster 500 kr per år, som kan betales med Vipps eller bankoverføring. Etter at du har fylt ut
        skjemaet vil du få informasjon om betaling. Kun etter at du har betalt medlemsavgiften vil du være et fullverdig
        medlem av Foreningen Winedentity.
      </p>
    </div>
  </header>
  <section>
    <form method="POST" action="" class="space-y-2">
      {{ form.hidden_tag() }}

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          {{ form.full_name.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.full_name(class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm
          placeholder-gray-400 focus:outline-none focus:ring-[#fbbd19] focus:border-[#fbbd19] sm:text-sm") }}
        </div>
        <div>
          {{ form.birth_date.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.birth_date(class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm
          focus:outline-none focus:ring-[#fbbd19] focus:border-[#fbbd19] sm:text-sm") }}
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          {{ form.address.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.address(class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm
          placeholder-gray-400 focus:outline-none focus:ring-[#fbbd19] focus:border-[#fbbd19] sm:text-sm") }}
        </div>
        <div>
          {{ form.company.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.company(class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm
          placeholder-gray-400 focus:outline-none focus:ring-[#fbbd19] focus:border-[#fbbd19] sm:text-sm") }}
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          {{ form.postal_code.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.postal_code(class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm
          placeholder-gray-400 focus:outline-none focus:ring-[#fbbd19] focus:border-[#fbbd19] sm:text-sm") }}
        </div>
        <div>
          {{ form.country.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.country(class="mt-1 block w-full", **{'data-countries': countries_json}) }}
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          {{ form.email.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.email(class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm
          placeholder-gray-400 focus:outline-none focus:ring-[#fbbd19] focus:border-[#fbbd19] sm:text-sm") }}
        </div>
        <div>
          {{ form.phone.label(class="block text-sm font-medium text-gray-700") }}
          {{ form.phone(class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm
          placeholder-gray-400 focus:outline-none focus:ring-[#fbbd19] focus:border-[#fbbd19] sm:text-sm") }}
        </div>
      </div>

      <div class="pt-1">
        <div class="flex items-start">
          {{ form.confirm(class="h-4 w-4 text-[#741b79] focus:ring-[#fbbd19] border-gray-300 rounded") }}
          <div class="ml-3 text-sm">
            <label for="confirm" class="font-medium text-gray-700">
              Jeg bekrefter at opplysningene gitt er riktige, jeg godtar <a
                href="{{ url_for('static', filename='foreningen_winedentity_vedtekter.pdf') }}" target="_blank"
                class="text-[#741b79] hover:underline">vedtektene til Foreningen Winedentity</a>, og jeg skal betale
              medlemsavgiften innen 30 dager.
            </label>
          </div>
        </div>
      </div>

      <div class="pt-1">
        <button
          class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#741b79] hover:bg-[#5f1563] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#fbbd19] {% if env != 'local' %}g-recaptcha{% endif %}"
          {% if env !='local' %} data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}" data-callback='onSubmit'
          data-action='submit' {% endif %}>
          Registrer deg
        </button>
      </div>
    </form>
  </section>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}