{% extends "base.jinja2" %}

{% block title %}Registrering Fullført{% endblock %}

{% block content %}
<div class="p-6">
    <header class="flex items-center mb-4">
        <div class="w-12 h-12 text-brand-purple mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
        <h1 class="text-2xl font-bold text-brand-purple">Registrering Fullført!</h1>
    </header>

    <section class="text-left">
        <p class="lead mb-2">Tusen takk, {{ full_name }}, for at du har blitt medlem i Foreningen Winedentity!</p>
        <p>Ditt medlemsnummer er:</p>
        <h2 class="text-4xl font-bold my-2 text-brand-purple">{{ membership_number }}</h2>
        <p class="mb-6">Vennligst bruk dette nummeret som referanse når du betaler medlemsavgiften.</p>
    </section>

    <section class="my-8 bg-gray-50 border border-gray-200 rounded-lg p-4 text-left">
        <h3 class="font-bold text-lg mb-2">ℹ️ Betaling av medlemskontingent</h3>
        <p>Du kan betale medlemsavgiften på følgende måter:</p>
        <ul class="list-disc list-inside pl-4 my-2">
            <li>💸 Vippse 510 kr (500 kr pluss Vipps-gebyr) til '968758' (Winedentity)</li>
            <li>💸 Overføre 500 kr til kontonummer '4214 49 32085'</li>
        </ul>
        <p>Kun etter at du har betalt medlemsavgiften vil du være et fullverdig medlem av Foreningen Winedentity.</p>
        <p class="mt-4">Hvis du har noen spørsmål, kan du kontakte oss på <a href="mailto:post@winedentity.no"
                class="text-brand-purple hover:underline">post@winedentity.no</a>.</p>
    </section>

    <div class="text-center">
        <a href="/"
            class="inline-block px-6 py-2 text-white bg-brand-purple rounded-md hover:bg-brand-purple-light">Tilbake til
            forsiden</a>
    </div>
</div>
{% endblock %}